div img {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}



form {
    text-align: center;
}

#searchbar {
    display: inline-block;
    border-radius: 5px;
    width: 27.5%;
    height: 35px;
    margin: 30px;
    border: solid;
    border-width: 1px;
    border-color: #8080808a;

}

#button {
    background-color: #afabab28;
    color: rgb(75, 72, 72);
    padding: 10px 20px;
    border-style: none;
    border-radius: 5px;
    margin: 0 5px;
}


input[type="button"] {
    font-size: 15px;
    font-family: "Arial", sans-serif;
}

input[type="text"] {
    font-size: 16px;
    font-family: "Arial", sans-serif;
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    display: inline;
}
.left {
    padding: 8px;
}

.right {
    float: right;
    padding: 8px;
}