div img {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}


form {
    text-align: center;
}

#searchbar {
    display: inline-block;
    border-radius: 24px;
    width: 27.5%;
    height: 35px;
    margin: 30px;
    border: solid;
    border-width: 1px;
    border-color: #8080808a;

}

#button {
    background-color: #afabab28;
    color: rgb(75, 72, 72);
    padding: 10px 20px;
    border-style: none;
    border-radius: 5px;
    margin: 0 5px;
}


input[type="button"] {
    font-size: 15px;
    font-family: "Arial", sans-serif;
}

input[type="text"] {
    font-size: 16px;
    font-family: "Arial", sans-serif;
}

div #img {
    margin: 0px 0px;
    width: 30px;
}
a:link {
    text-decoration: none;
    color: rgb(77, 75, 75);
}
a:visited {
    text-decoration: none;
    color: rgb(77, 75, 75);
}

a:hover {
    text-decoration: underline;
}

.topl {
    top: 0;
    left: 0;
    position: fixed;
}

.topr {
    top: 0;
    right: 0;
    position: fixed;
}
.right {
    float: right;
}

.bottomr {
    bottom: 0;
    right: 0;
    position: fixed;
}
.bottoml {
    bottom: 0;
    left: 0;
    position: fixed;
}


ul {
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    display: inline;
}

li {
    font-family: "Arial", sans-serif;
    font-size: 13px;
    padding: 15px;
    display:inline-block;
}

